- if @results
  - if @place
    %h2.map_title
      ="Map of #{@place_title}"
    - if @usually_known_as
      %span.also-known-as
        Also known as
        = @usually_known_as
    
    #map
      = #%Q|<iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=#{@place.lat},#{@place.lng}&amp;sll=#{@place.lat},#{@place.lng}&amp;ie=UTF8&amp;ll=#{@place.lat},#{@place.lng}&amp;spn=0.004528,0.00912&amp;z=10&amp;output=embed"></iframe>|
      
    - if @results.count > 0
      %h2
        ="Nearest #{pluralize(@results.count, "result")} for"
        %strong.search_term= @searched_for
    - else
      %p.no-nearest= "We can't find anything near this location."
    -unless @place.alternative_places.empty?
      %p.did-you-mean
        Did you mean:
        -@place.alternative_places.each do |alternate|
          =link_to "#{alternate.ascii_name}, #{alternate.county_name}", search_url + "?q=#{alternate.ascii_name}, #{alternate.county_name}"
          -unless alternate == @place.alternative_places.last
            &middot;
          ?
    
    
  - else
    %h2
      Search results for
      %strong.search_term= @searched_for
  
    #pagination
      = will_paginate @results
        
  %ul.search-results
    =render :partial => "partials/item_result", :collection => @results
    
- else
  - if @last_search_term
    %p.no-results 
      There are no items tagged 
      %strong.search_term= @last_search_term

  #front-page-search
    %table{:align=>"center"}
      - form_tag(search_url, :name => 'search', :method => :get) do
        %tr{:align=>"center"}
          %td
            = text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : '')
        %tr{:align=>"center"}
          %td
            = submit_tag 'SEARCH'
  

  
  
    
