- @title = "#{h(sanitize(@searched_for))} (ParlyTags)"  

-if @place
  %h2.map_title= @place_title

  - if @usually_known_as
    %span.also-known-as= "Also known as #{@usually_known_as}"

  #map

  -unless @place.alternative_places.empty?
    %p.alternative-places
      Search for:
      -@place.alternative_places.each do |alternate|
      
        - if alternate.county_name
          - display_place_name = "#{alternate.ascii_name} (#{alternate.county_name})"
          - search_place_name = "#{alternate.ascii_name}, #{alternate.county_name}"
        
        - else
          - display_place_name = search_place_name = alternate.display_name
        =link_to "#{display_place_name}", search_url + "?q=#{search_place_name}"
      
        -unless alternate == @place.alternative_places.last
          &middot;
          
- if @results && !@results.empty?
  
  %h2
  - if @place
    = "Within about 40km of #{h(sanitize(@searched_for.titlecase))}"
  -else
    = "Results for #{h(sanitize(@searched_for))}"
  
    #pagination
      = will_paginate @results    
        
  %ul.search-results
    =render :partial => "partials/item_result", :collection => @results
  
  - content_for :footer do
    = link_to image_tag("envelope.gif", :border=>0), "http://www.parliament.uk/site_information/email_alerting.cfm"
    = link_to "Subscribe to Email Alerts for this page", "http://www.parliament.uk/site_information/email_alerting.cfm"

- if @ukparliament_twitter_results && @ukparliament_twitter_results.length > 0
  %ol.ukparliament-twitter-results
    =render :partial => "partials/twitter_result", :collection => @ukparliament_twitter_results
            
- else
  
  - if @last_search_term
    - if @place
      %p.no-nearest= "We couldn't find any items within about 40km of here."
    - else
      %p.no-results 
        There are no items tagged 
        %em.search_term= h(sanitize(@last_search_term))
      
- content_for :footer do
  %br
  <a href="http://github.com/robertbrook/parlytags">Source code</a> | <a href="mailto:mail@robertbrook.com">Contact email</a> | <a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">Parliamentary Copyright</a>
            