- @title = "#{h(sanitize(@searched_for))} (ParlyTags)"  

-if @place
  %h2.map_title= @place_title
  - if @results && !@results.empty?
    - unless @constituency
      %span.nearby
        = "Including places nearby"      
  - if @has_connection
    #map

  -unless @place.alternative_places.empty?
    %p.alternative-places
      Search for:
      -@place.alternative_places.each do |alternate|
      
        - if alternate.county_name
          - display_place_name = "#{alternate.ascii_name} (#{alternate.county_name})"
          - search_place_name = "#{alternate.ascii_name}, #{alternate.county_name}"
        
        - else
          - display_place_name = search_place_name = alternate.display_name
        - if @place.display_name =~ /Constituency of/
          =link_to "#{display_place_name}", search_url + "?q=#{search_place_name}&t=p"
        -else
          =link_to "#{display_place_name}", search_url + "?q=#{search_place_name}"
      
        -unless alternate == @place.alternative_places.last
          &middot;
          
- if @results && !@results.empty?  
        
  %ul.search-results
    =render :partial => "partials/item_result", :collection => @results

  - if @ukparliament_twitter_results && @ukparliament_twitter_results.length > 0
    %ol.ukparliament-twitter-results
      =render :partial => "partials/twitter_result", :collection => @ukparliament_twitter_results
            
- else
  
  - if @last_search_term
    %h2
      Sorry, we don't have any results to show
    %p.no-nearest
      This is either because we can't find a place with that name, or we couldn't find that any items within about 40km of here.
    %p
      %a{:href => 'http://www.parliament.uk/search/search.aspx?search=' + @searched_for, :title => "Search for \"" + h(sanitize(@searched_for)) + "\" on parliament.uk"}
        ="Search for \"" + h(sanitize(@searched_for)) + "\" on the parliament.uk website"
  
