- if @results
  - if @place
    %h2.map_title= @place_title
    - if @usually_known_as
      %span.also-known-as
        Also known as
        %em= @usually_known_as
    
    #map
      
    - if @results.count > 0
      %h2= "More results (within about 40km of #{@searched_for})"
    - else
      %p.no-nearest= "We couldn't find anything near this location."
    -unless @place.alternative_places.empty?
      %p.alternative-places
        Search for:
        -@place.alternative_places.each do |alternate|
          - if alternate.county_name
            - place_name = "#{alternate.ascii_name}, #{alternate.county_name}"
          - else
            - place_name = alternate.ascii_name.gsub("County of ", "")
          =link_to "#{place_name}", search_url + "?q=#{place_name}"
          -unless alternate == @place.alternative_places.last
            &middot;
    
  - else
    %h2
      Search results for
      %strong.search_term= @searched_for
  
    #pagination
      = will_paginate @results
        
  %ul.search-results
    =render :partial => "partials/item_result", :collection => @results
    
  - content_for :footer do
    = link_to image_tag("envelope.gif", :border=>0), "http://www.parliament.uk/site_information/email_alerting.cfm"
    = link_to "Subscribe to Email Alerts for this page", "http://www.parliament.uk/site_information/email_alerting.cfm"
    
- else
  #front-page-search
    - form_tag(search_url, :name => 'search', :method => :get) do
      = text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : '')
      = submit_tag 'Search'
  - if @last_search_term
    %p.no-results 
      There are no items tagged 
      %em.search_term= @last_search_term
      
- content_for :footer do
  %br
  <a href="http://github.com/robertbrook/parlytags">Source code</a> | <a href="mailto:mail@robertbrook.com">Contact email</a> | <a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">Parliamentary Copyright</a>
            

  

  
  
    
