
- if @place
  #map
    = %Q|<iframe width="700" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=#{@place.lat},#{@place.long}&amp;sll=#{@place.lat},#{@place.long}&amp;ie=UTF8&amp;ll=#{@place.lat},#{@place.long}&amp;spn=0.004528,0.00912&amp;z=10&amp;output=embed"></iframe>|
    
- if @results
  %h2
    Search results for
    %q.search_term= @last_search_term

  =render :partial => "partials/item_result", :collection => @results

  #pagination
    = will_paginate @results
    
- else
  - if @last_search_term
    %p.no-results 
      There are no items tagged 
      %q.search_term= @last_search_term
  #front-page-search
    %table{:align=>"center"}
      - form_tag(search_url, :name => 'search', :method => :get) do
        %tr{:align=>"center"}
          %td
            = text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : '')
        %tr{:align=>"center"}
          %td
            Try 'London', 'Colchester', 'Essex' …
        %tr{:align=>"center"}
          %td
            = submit_tag 'SEARCH'
  

  
  
    
