- form_tag(search_url, :method => :get) do
  = text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : ''), :size => 24
  = submit_tag 'Search'

-if @results
  #pagination= will_paginate @results

  =render :partial => "partials/edm", :collection => @results

  #pagination= will_paginate @results
-elsif @last_search_term
  No results found for 
  %span.search_term= @last_search_term 