%li.item
  = link_to item_result.title, item_result.url
  %br
  %span.kind= item_result.kind
  %span.days_ago= item_result.age
  %br
  %span.link= item_result.display_url
  %br
  %ul.tags
    - item_result.placenames.each do |tag|
      - unless tag == @place.name
        %li.tag= link_to tag, '/search?q=' + tag
    
