
- @edms.each do |edm|
  #edm
    %h2= edm.title
    #number="EDM #{edm.number}"
    #sponsor= "Primary sponsor: #{edm.proposer.display_name}"
    %blockquote= edm.text
    #sig_count= %Q|[ #{pluralize(edm.signature_count, "signature")} ]|
  
#pagination= will_paginate @edms
