- @sessions.each do |session|
  = link_to_unless_current session.name, edm_session_path(session.name)
  &middot;
= link_to_unless_current "All EDMs", root_path

- @edms.each do |edm|
  .edm
    - if edm.proposers.first
      %span.date=edm.proposers.first.date
    %h2= edm.title
    - if edm.proposers.first
      .sponsor
        =link_to edm.proposers.first.member.display_name, member_path(edm.proposers.first.member)
        - if edm.signatories_and_seconders_count > 0
          ="and #{pluralize(edm.signatories_and_seconders_count, 'other')}"
        - if edm.seconders_count > 0
          ="(#{edm.seconders_count} of whom seconded the motion)"
    %blockquote
      %span.number= edm.number
      = edm.text
  
#pagination= will_paginate @edms
