
- @edms.each do |edm|
  #edm
    %h2= edm.title
    #number="EDM #{edm.number}"
    #sponsor= "#{edm.proposer.display_name} and " + pluralize(edm.signature_count, "other")
    %blockquote= edm.text
  
#pagination= will_paginate @edms
