- if @edm
  
  .edm
    %h2= @edm.html_title
  
    - if @edm.has_proposer?
      %span.date= "Proposed on #{@edm.proposers.first.date.strftime("%A %B %d, %Y")} by #{link_to @edm.proposers.first.member.display_name, member_path(@edm.proposers.first.member)}"
    
    %blockquote
      %span.number= @edm.number
      = @edm.text
      
    %p= "Seconded by #{pluralize(@edm.seconders.size, 'MP')}"
    %ol.seconders
      - @edm.seconders.each do |signatory|
        %li.seconder= link_to signatory.member.display_name, member_path(signatory.member)
    
    %p= "Signed by #{pluralize(@edm.signatories.size, 'MP')}"
    %ol.signatories
      - @edm.signatories.each do |signatory|
        %li.signatory= link_to signatory.member.display_name, member_path(signatory.member)
      
    -unless @edm.children.empty?
      %p Amendments:
      
      - @edm.children.each do |amendment|
        .edm
          %h3= link_to amendment.html_title, edm_path(amendment.session_name, amendment.number)
          %blockquote
            %span.number= amendment.number
            = amendment.text
            
          - amendment.children.each do |sub_amendment|
            .edm
              %h3= link_to sub_amendment.html_title, edm_path(sub_amendment.session_name, sub_amendment.number)
              %blockquote
                %span.number= sub_amendment.number
                = sub_amendment.text
            