%html
  %head
    %title= @title ? @title : 'Places'
    = stylesheet_link_tag "screen"
    - searched_for = @last_search_term ? @last_search_term : ""
    = auto_discovery_link_tag(:atom, "http://#{request.host_with_port}/search?q=#{CGI.escape(searched_for)}&t=#{params[:t]}&format=atom")
    -if @map
      = GMap.header
      = @map.to_html
  %body#places-millbanksystems-com
    - form_tag(search_url, :name => 'search', :method => :get, :id => "search") do
      I want to search Parliament
      %br
      for a place in the UK called
      = text_field_tag 'q', (@last_search_term ? h(sanitize(@last_search_term)) : ''), :accesskey => 's', :size => 18
      = submit_tag 'Go!'
    = yield 
    -unless current_page?(:action => 'credits')
      %p=link_to("More about this site", "credits", {:title => 'More about this site.'})           

